:root {
  --purple: #9e54ff;
  --border-gray: #d5d5d5;
  --pale-gray: #e6e6e6;
  --font-gray: #b3b3b3;
  --smallest-font: 0.75rem;
  --title-font-size: 1.5rem;
  --spacing-xxs: 0.5rem;
  --spacing-xs: 1rem;
  --spacing-s: 1.5rem;
  --spacing-m: 2rem;
  --spacing-l: 2.5rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 3.5rem;
  --spacing-xxl-2: 4rem;
  --spacing-xxl-3: 4.5rem;
  --spacing-xxl-4: 5rem;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.4px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

input, button {
  outline: none;
}

button {
  cursor: pointer;
}

html {
  height: 100vh;
}

body{
  height: 100%;
}

/* 로그인, 회원가입 화면 */
.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: var(--spacing-xxs);
}

.input-area {
  margin-bottom: var(--spacing-xs);
}

.input-area input {
  border-radius: 0.2rem;
}

.login{
  margin-bottom: var(--spacing-m);
}

.register_here a {
  color: var(--purple);
  margin-left: 0.2rem;
}

form {
  width: 100%;
}

.input-area {
  width: 30%;
}

.warning {
  margin-bottom: var(--spacing-xxs);
  color: var(--purple);
}

/* footer */
footer {
  height: 7rem;
  background-color: rgb(248, 248, 248);
  display: flex;
  align-items: center;
  font-size: var(--smallest-font);
}

.copyright {
  margin-left: auto;
}

footer .logo {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 1rem;
  margin-right: var(--spacing-xl);
}


/* navigation 공통 */
nav {
  display: flex;
  flex-direction: column;
}

nav > div {
  display: flex;
}

.inner {
  display: flex;
  width: 100%;
  padding-right: var(--spacing-xl);
  padding-left: var(--spacing-xl);
}

nav ul {
  display: flex;
  flex-direction: row;
}

@media (min-width: 1281px){
 .inner, main{
    width: 1194px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* navigation - top */
.menu-top {
  width: 100%;
  height: var(--spacing-m);
  background-color: rgba(158, 84, 255, 0.1);
}

.menu-top .inner {
  justify-content: flex-end;
}

.menu-top a {
  font-size: var(--smallest-font);
}

.menu-top ul li:nth-child(1) {
  margin-right: var(--spacing-s);
}

/* navigation - middle */
.menu-middle {
  width: 100%;
  align-items: center;
  height: 6rem;
}

.innermost {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

.logo a {
  font-family: 'Poppins', sans-serif;
  font-size: var(--spacing-m);
  color: var(--purple)
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  width: 8rem;
  height: var(--spacing-l);
  border-radius: 1.2rem;
  background-color: var(--purple);
  color: white;
  margin-right: 1.5rem;
  font-size: 1rem;
}

/* dropdown */
.dropdown {
  position: relative;
}

.dropdown-btn {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.profile {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: white 0.2rem solid;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 10rem;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0.25rem;
  padding: 1rem 1rem 0.5rem 1rem;
  right: 0;
  left: auto;
  margin-top: 0.2rem;
   transition: all .25s ease;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown hr {
  border-top: solid 1px var(--border-gray);
  margin: 0.8rem 0;
}

.dropdown-info p {
  font-weight: bold;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
}

.dropdown-menu li {
  padding-bottom: 0.5rem;
}

/* navigation - bottom */
.menu-bottom {
  width: 100%;
  align-items: center;
  height: var(--spacing-xxl-2);
  border-top: var(--border-gray) 1px solid;
  border-bottom: var(--border-gray) 1px solid;
}

.categories {
  width: 100%;
  justify-content: space-between;
}


/* main 공통 */
.container {
  display: flex;
  padding: var(--spacing-m) var(--spacing-xl);
  min-height: 70%;
}

.title {
  font-size: var(--title-font-size);
  margin-bottom: var(--spacing-s);
}

/* listing thumbnails */
.listings_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listings {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  gap: 2rem 1.8rem ;
  max-width: 100%;
}

.listing {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--pale-gray);
  max-width: 17rem;
}

.listing_photo {
  width: 100%;
  max-width: 100%;
  display: block;
}

.listing > .bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem 1rem;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0.25rem;
}

.price {
  font-size: var(--title-font-size);
  font-weight: bold;
  color: var(--purple);
}

.bidders {
  font-size: var(--smallest-font);
}

/* each listing page*/
.details {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.detail_right, .detail_left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.detail_left {
  margin-right: var(--spacing-s);
  flex-shrink: 1;
}

.detail_left img {
  max-width: 100%;
}

.texts {
  display: flex;
  flex-direction: column;
}

.title_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: var(--title-font-size);
  font-weight: bold;
}

.fa-heart {
  font-size: 1.5rem;
  color: var(--purple);
  margin-left: 1.5rem;
}

.prices {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-xs) 0;
  padding: var(--spacing-xs) 0;
  border-top: solid 2px;
  border-bottom: solid 1px var(--border-gray);
}

.sub_name {
  font-size: var(--smallest-font);
  font-weight: bold;
  margin-right: var(--spacing-s);
}

 .starting_container, .current_container {
   display: flex;
   flex-direction: row;
   align-items: center;
 }

.current_price {
  font-size: var(--title-font-size);
  font-weight: bold;
  color: var(--purple);
}

.current_container .bidders {
  color: var(--font-gray);
  margin-left: var(--spacing-xxs);
}

.description {
  margin-bottom: var(--spacing-xs);
}

.before_loggin{
  background-color: var(--border-gray);
  min-width: 18rem;
}

/* bidding form */
.bidding_form {
  display: flex;
  position: relative;
}

 input {
  height: var(--spacing-l);
  border-radius: 1.2rem;
  border: 1px solid var(--border-gray);
  width: 100%;
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
  font-size: 1rem;
}

.bid {
  min-width: 7rem;
  margin-left: var(--spacing-xxs);
  margin-right: 0;
}

/* confirm form */
.confirm_form{
  display: flex;
  flex-direction: column;
}

.notice_area {
  display: flex;
  flex-direction: row;
  margin-top: var(--spacing-xxs);
  color: var(--purple);

}

.confirm_notice {
  font-size: var(--smallest-font);
  margin-left: 0.25rem;
}

/* comments */
.comments {
  margin-top : var(--spacing-xxl-3);
}

.comments_title {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-bottom: var(--spacing-xs);
}

.comments_count {
  color: var(--purple);
  margin-left: 0.2rem;
}

.comment_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--spacing-l);
  border-radius: 0.2rem;
  border: 1px solid var(--border-gray);
  padding-left: var(--spacing-xs);
  position: relative;
  margin-bottom: var(--spacing-xs);
}

.to_login {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  z-index: 1;
}

.comment_form input {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 0;
  border: 0;
}

.comments_btn {
  background-color: white;
  color: var(--purple);
  font-size: var(--smallest-font);
  font-weight: bold;
  height: 90%;
  width: 15%;
  margin: 0
}

.comment {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-xs) 0;
  padding-bottom: var(--spacing-xs);
  border-bottom: 1px solid var(--border-gray);
}

.comment_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.25rem;
  font-size: var(--smallest-font);
}

.writer {
  font-weight: bold;
}

.timestamp {
  margin-left: var(--spacing-xxs);
  color: var(--gray);
}

.comment_bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment_bottom button {
  background-color: white;
  margin-left: var(--spacing-xxs);
  color: var(--purple);
}
