{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
      <nav>
        <div class="menu-top">
          <div class="inner">
            <ul>
            {% if user.is_authenticated %}
              <li style="margin-right: 0"><a href="{% url 'logout' %}">로그아웃</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">로그인</a></li>
              <li><a href="{% url 'register' %}">회원가입</a></li>
            {% endif %}
            </ul>
          </div>
        </div>

        <div class="menu-middle">
          <div class="inner">
            <div class="innermost">
              <div class="logo">Gaji Market</div>
              <div class="right">
                <button type="submit" class="sell">팔기</button>
                <div class="profile">
                  {% if user.is_authenticated %}
                      <img src="{% static 'auctions/' %}default_profile_member.svg">
                  {% else %}
                      <img src="{% static 'auctions/' %}default_profile.svg">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="menu-bottom">
          <div class="inner">
            <ul class="categories">
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
            </ul>
          </div>
        </div>
      </nav>

      <main>
        {% block body %}
        {% endblock %}
      </main>

      <footer>
      </footer>
    </body>
</html>
