{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
      <nav>
        <div class="menu-top">
          <div class="inner">
            <ul>
            {% if user.is_authenticated %}
              <li style="margin-right: 0"><a href="{% url 'logout' %}">로그아웃</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">로그인</a></li>
              <li><a href="{% url 'register' %}">회원가입</a></li>
            {% endif %}
            </ul>
          </div>
        </div>

        <div class="menu-middle">
          <div class="inner">
            <div class="innermost">
              <div class="logo"><a href="{% url 'index' %}">Gaji Market</a></div>
              <div class="right">
                <button type="submit" class="sell">팔기</button>
                <div class="dropdown">
                  <button class="dropdown-btn">
                    {% if user.is_authenticated %}
                        <img class="profile" src="{% static 'auctions/' %}default_profile_member.svg">
                    {% else %}
                        <img class="profile" src="{% static 'auctions/' %}default_profile.svg">
                    {% endif %}
                  </button>
                  <div class="dropdown-content">
                    {% if user.is_authenticated %}
                      <div class="dropdown-info"><p>{{ user.username }}</p>
                      </div>
                      <hr>
                      <ul class="dropdown-menu">
                        <li><a href="#">내놓은 상품</a></li>
                        <li><a href="#">위시리스트</a></li>
                        <li><a href="{% url 'logout' %}">로그아웃</a></li>
                      </ul>
                    {% else %}
                      <div class="dropdown-info">
                        <p>로그인이 필요해요</p>
                      </div>
                      <hr>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'login' %}">로그인</a></li>
                        <li><a href="{% url 'register' %}">회원가입</a></li>
                      </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="menu-bottom">
          <div class="inner">
            <ul class="categories">
              <li><a href="{% url 'get_all_items' %}">전체</a></li>
              {% for category in categories %}
              <li><a href="{{ category.english_name }}">{{ category.korean_name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>

      <main class='container'>
        {% block body %}
        {% endblock %}
      </main>

      <footer>
        <div class="inner">
          <div class="logo">
            Purple. Inc.
          </div>
          <div class="contact">
            <div class="address">
              주소 : 식물시 야채구 채소대로 100
            </div>
            <div class="phone">
              연락처 : 070-8888-8888
            </div>
          </div>
          <div class="copyright">
            Copyright Yeseul. All Rights Reserved.
          </div>
        </div>
      </footer>
    </body>
</html>
