{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
      <nav>
        <div class="menu-top">
          <div class="inner">
            <ul>
            {% if user.is_authenticated %}
              <li style="margin-right: 0"><a href="{% url 'logout' %}">로그아웃</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">로그인</a></li>
              <li><a href="{% url 'register' %}">회원가입</a></li>
            {% endif %}
            </ul>
          </div>
        </div>

        <div class="menu-middle">
          <div class="inner">
            <div class="innermost">
              <div class="logo">Gaji Market</div>
              <div class="right">
                <button type="submit" class="sell">팔기</button>
                <button class="hoverable-profile">
                    {% if user.is_authenticated %}
                      <img src="{% static 'auctions/' %}default_profile_member.svg">
                  {% else %}
                      <img src="{% static 'auctions/' %}default_profile.svg">
                  {% endif %}
                </button>
                <div class="dropdown">
                  {% if user.is_authenticated %}
                    <div class="profile">
                      <img src="{% static 'auctions/' %}default_profile_member.svg">
                      <p>Sue12345678910</p>
                    </div>
                    <ul class="menus">
                      <li><a href="#">내놓은 상품</a></li>
                      <li><a href="#">위시리스트</a></li>
                      <li><a href="#">로그아웃</a></li>
                    </ul>

                  {% else %}
                  <div class="profile">
                    <img src="{% static 'auctions/' %}default_profile.svg">
                    <p>로그인이 필요합니다.</p>
                  </div>
                  <ul class="menus">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="menu-bottom">
          <div class="inner">
            <ul class="categories">
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
              <li>item</li>
            </ul>
          </div>
        </div>
      </nav>

      <main class='container'>
        {% block body %}
        {% endblock %}
      </main>

      <footer>
        <div class="inner">
          <div class="logo">
            Purple. Inc.
          </div>
          <div class="info">
            <div class="address">
              주소 : 식물시 야채구 채소대로 100
            </div>
            <div class="phone">
              연락처 : 070-8888-8888
            </div>
          </div>
          <div class="copyright">
            Copyright Yeseul. All Rights Reserved.
          </div>
        </div>
      </footer>
    </body>
</html>
