{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
<div class="details">
  <div class="detail_left">
    <img src="{{ listing.photo }}">
  </div>

  <div class="detail_right">
    <div class="texts">
      <div class="title_area">
        <h2 class="detail_title">
          {{ listing.title }}
        </h2>
        {% if user.is_authenticated %}
        <a href="#"><i class="far fa-heart"></i></a>
        {% else %}
        <a href="{% url 'login' %}"><i class="far fa-heart"></i></a>
        {% endif %}
      </div>
      <div class="prices">
        <div class="starting_container">
          <p class="sub_name">시작 가격</p>
          <p class="starting_price">{{ listing.starting_price|intcomma }}원</p>
        </div>
        <div class="current_container">
          <p class="sub_name">현재 가격</p>
          <p class="current_price">
            {% if listing.current_price == 0 %}
              {{ listing.starting_price|intcomma }}원
            {% else %}
              {{ listing.current_price|intcomma }}원
            {% endif %}
          </p>
          <p class="bidders">입찰 수{{ bidders_count }}</p>
        </div>
      </div>
      <p class="description">{{ listing.description }}</p>
      {% if messages %}
        {% for message in messages %}
          <script>alert("{{ message }}")</script>
        {% endfor %}
      {% endif %}
      <form action="/bid/{{ listing.id }}/" method="post" class="bidding_form">
        {% if not user.is_authenticated %}
        <a class="to_login" href="{% url 'login' %}">&nbsp;</a>
        {% endif %}
        {{ bidding_form }}
        {% csrf_token %}
        <button class="btn bid">입찰하기</button>
      </form>
    </div>
    <div class="comments">
      <div class="comments_title">
        <p class="comments_titletext">댓글</p>
        <p class="comments_count">10</p>
      </div>
      <form action="{% url 'comment' %}" method="post" class="comment_form">
        {% if not user.is_authenticated %}
        <a class="to_login" href="{% url 'login' %}">&nbsp;</a>
        {% endif %}
        {{ comment_form }}
        {% csrf_token %}
        <button class="btn comments_btn">등록</button>
      </form>

      <div class="comment">
        <div class="comment_top">
          <p class="writer">닉네임</p>
          <p class="timestamp">2021. 03. 23</p>
        </div>
        <div class="comment_bottom">
          <p>내용내용내용</p>
          <button><i class="far fa-times-circle"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
